body {
    background-color: grey;
    margin: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(118, 163, 163);
    overflow: clip;
    position: absolute;
}

#jungleJPG {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#cockroachGIF {
    position: absolute;
    width: 40vw;
    bottom: -50vw;
    left: -15vw;
    rotate: 90deg;
} 

.cockroachAnimation {
    animation-name: cockroachWalks;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes cockroachWalks {
    0% {
        bottom: -50vw;
        left: -15vw;
    }
    100% {
        bottom: 220vw;
        left: -15vw;
    }
}  
