* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: grey;
    margin: 0;
    height: 100%;
}

#smallFace {
    position: fixed;
    height: calc(var(--vh, 1vh) * 8);
    top: 1vw;
    right: 1vw;
    z-index: 20;
}

#facesContainer {
    position: fixed;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: black;
    text-align: center;
    z-index: 15;
    visibility: hidden; 
    overflow: clip;
    opacity: 0;
    transition: opacity 0.3s;
} 

#bigFace {
    position: absolute;
    top: calc(var(--vh, 1vh) * -100);
    left: 1vw;
    width: 98vw;
    visibility: visible; 
    opacity: 1;
}

.bigFaceAnimation {
    animation-name: bigFaceFallsDown;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes bigFaceFallsDown {
    0% {
        top: calc(var(--vh, 1vh) * -100);
        left: 1vw;
    }
    100% {
        top: calc(var(--vh, 1vh) * 6);
        left: 1vw;
    }
} 

#container {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgb(118, 163, 163);
    overflow: clip;
    position: absolute;
}

#jungleJPG {
    position: absolute;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
}


/* COCKROACH*/
#cockroachGIF {
    position: absolute;
    width: 40vw;
    bottom: -50vw;
    left: -15vw;
    rotate: 90deg;
} 

.cockroachAnimation {
    animation-name: cockroachWalks;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes cockroachWalks {
    0% {
        bottom: -50vw;
        left: -15vw;
    }
    100% {
        bottom: 220vw;
        left: -15vw;
    }
}  

/* LAPTOP */
#laptopContainer {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    width: 52vw;
    height: 48vw;
    background-color: black;
    border: 1vw solid black;
    border-radius: 5%;
    overflow: clip;
}

#laptopPic {
    position: absolute;
    width: 51vw;
    height: 47vw;
    border: 1vw solid black;
    border-radius: 5%;
}

#laptopGif {
    position: absolute;
    width: 51vw;
    height: 47vw;
    border: 1vw solid black;
    border-radius: 5%;
}

#laptopScreen {
    position: absolute;
    top: 5vw;
    left: 3vw;
    width: 44.5vw;
    height: 23vw;
    background-color: #ede1d1;
    padding: 1vw;
    color: black;
    font-size: 3vw;
    font-family: 'Roboto', monospace;
    text-align: left;
} 

#laptopScreenEmpty {
    position: absolute;
    top: 5vw;
    left: 3vw;
    width: 44.5vw;
    height: 23vw;
    background-color: #ede1d1;
    padding: 1vw;
    color: black;
    font-size: 3vw;
    font-family: 'Roboto', monospace;
    text-align: left; 
}

#empty {
    position: absolute;
    top: 5vw;
    left: 3vw;
    width: 44.5vw;
    height: 23vw;
    background-color: #ede1d1;
    padding: 1vw;
    color: black;
    font-size: 3vw;
    font-family: 'Roboto', monospace;
    text-align: left;
}
